.md-table {
    padding: 0;

    &.md-table-no-hover table tbody tr:hover {
        background-color: inherit !important;
    }

    &.separated {
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: #ddd;
    }

    img {
        width: auto;
        height: 40px
    }

    table {
        table-layout: fixed;

        width: 100%;
        height: auto;

        tr, th, td {
            font-size: 12px;
            text-align: left;
        }

        thead {
            tr th {
                font-size: 12px;
                font-weight: 500;
                color: #757575;

                padding: 0 10px;
                margin: 0;

                width: auto;
                height: 56px;

                vertical-align: middle;
                outline: none !important;
            }
        }

        tbody {
            tr {
                transition: all .5s ease;

                border-top-width: 1px;
                border-top-style: solid;
                border-top-color: #ddd;

                &.disabled {
                    border-top-width: 0;

                    td {
                        font-size: 13px;
                        font-weight: 500;
                        color: grey;

                        height: 14px;
                        padding-bottom: 17px;
                    }
                }

                &:hover {
                    background-color: #EEE;
                }
            }

            td {
                padding: 0 0 0 10px;
                height: 48px;
                font-size: 13px;
                color: rgba(0, 0, 0, 0.87);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                a {
                    color: inherit;
                }
            }
        }
    }
}

.md-table-title {
    margin-bottom: 5px;
}

.md-table-subtitle {
    font-size: 10px;
    line-height: 10px;
    color: grey;

    margin-top: 0;

    &.big {
        font-size: 14px;
        line-height: 14px;
    }
}
