.md-card-title {
    max-width: 105px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.md-card-subtitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    color: #808080;
}

.md-card-product {
    display: block;
}

.md-card-image-container {
    position: relative;

    height: 220px;
    width: 100%;

    margin: 0;
    padding: 4px 0;

    background-color: white;
    z-index: 1;

    .md-card-image {
        margin: 0 auto;
        padding: 0;

        height: 100%;
        width: auto;

        opacity: 0;
    }
}
