.md-header-title {
    padding: 0 20px;
    margin: 0;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ddd;

    height: 56px;
    line-height: 56px;

    &.green {
        background-color: rgb(76, 175, 80);
        border-bottom-color: white;
        color: rgba(white, .87);
    }

    &.red {
        background-color: rgb(244, 67, 54);
        border-bottom-color: white;
        color: rgba(white, .87);
    }

    .md-header-subtitle {

    }

    .md-header-info {
        margin-left: 15px;

        font-size: 80%;
        color: gray;
    }

    p {
        margin: 0;
    }
}
