.emoticon {
    &.emoticon-0 {
    	color: #BF2908 !important;
    }

    &.emoticon-1 {
    	color: #E3AE32 !important;
    }

    &.emoticon-2 {
    	color: #2F9E24 !important;
    }
}

.emoticon-title {
    margin-left: 10px;
}
