.progressbar {
    padding: 0 20px 16px;
    margin: 0;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ddd;

    &:last-of-type {
        border-bottom-width: 0;
    }

    p {
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .progressbar-percentage {
        font-size: 12px;
        font-weight: 500;
        color: grey;
    }

    .progressbar-value {
        margin: 0;

        font-size: 12px;
        font-weight: 500;
        color: grey;

        &.left {
            text-align: left;
            padding-left: 10px;
        }

        &.right {
            text-align: right;
            padding-right: 10px;
        }
    }

    .progressbar-bar {
        margin: 4px 0;
    }
}
