<md-subheader class="md-primary">
    <span>Kategoria</span>
    <md-icon class="chevron" md-svg-src="images/icons/chevron.svg" aria-hidden="true"></md-icon>
    <span>{{categoryName}}</span>
</md-subheader>

<div flex ng-cloak>
    <md-grid-list
        md-cols-sm="2"
        md-cols-md="4"
        md-cols-gt-md="6"

        md-row-height-gt-md="1:1"
        md-row-height="2:2"
    >
        <md-grid-tile
            class="pointer md-whiteframe-1dp"
            ng-repeat="item in category"
            md-rowspan="1"
            md-colspan="1"
            md-colspan-sm="1"
            ui-sref="product({productSlug: item.slug})"
            layout-margin
        >
            <img fallback-src="images/template/default-product.jpg" ng-src="{{item.image}}" style="height: 80%; width: auto">
            <md-grid-tile-footer><h3>{{item.name}} - {{item.producer[0].name}}</h3></md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</div>
