<md-dialog aria-label="Zgłoś błąd">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Zgłoś błąd</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">Wyjdź</md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div>Bład <md-switch /> Propozycja</div>
            <div>Kategoria</div>
        </md-dialog-content>

        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button class="md-primary">Not Useful</md-button>
        </div>
    </form>
</md-dialog>
