<div layout="row" layout-align="center start" layout-margin>
	<div flex="50" flex-md="80" flex-sm="90">
		<div class="md-whiteframe-1dp md-tabs-white-background">
			<md-tabs md-dynamic-height>
				<md-tab label="Wyszukaj produkt">
					<md-content layout-padding>
						<p class="md-headline my-headline" layout-padding>Wyszukaj rodzaj produktu:</p>

						<md-input-container class="md-block" id="search-product">
							<label>Co chcesz zjeść?</label>
							<input ng-model="slug" ng-keydown="listenForEnter($event)">

							<div ng-show="showTable && !dataFound" role="alert" ng-messages>
								<div>Nie możemy znaleść produktów o tej nazwie.</div>
							</div>
						</md-input-container>

						<div layout="row" layout-align="end">
							<md-button layout-align="right" class="md-primary md-raised" ng-click="search(slug)">Wyszukaj</md-button>
						</div>
					</md-content>

					<md-content ng-show="showTable && dataFound">
						<div layout="row">
							<div class="card md-table separated">
								<table>
									<thead>
										<tr>
											<th style="width: 12%"></th>
											<th>Kategoria</th>
											<th>Nazwa</th>
											<th>Producent</th>
										</tr>
									</thead>

									<tbody ng-repeat="result in results">
										<tr class="pointer" ui-sref="product({productSlug: result.slug})">
											<td><img ng-src="{{result.image}}"></td>
											<td>{{result.category[0].name}}</td>
											<td>{{result.name}}</td>
											<td>{{result.producer.name}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</md-content>
				</md-tab>
			</md-tabs>
		</div>
	</div>
</div>
