<div layout="column" layout-padding>
	<div layout="row">
		<div flex="25" flex-md="10" flex-sm="5"></div>

		<div flex="50" flex-md="80" flex-sm="90">
			<div class="md-whiteframe-1dp md-tabs-white-background">
				<md-tabs md-dynamic-height md-selected="searchFor">
					<md-tab label="Wyszukaj produkt">
						<md-content layout-padding>
							<p class="md-headline" layout-padding>Wyszukaj rodzaj produktu:</p>

							<md-input-container flex>
								<label>Co chcesz zjeść?</label>
								<input ng-model="search.searchText" ng-enter="search.searchItem(search.searchText)" ng-keydown="search.listenForEnter($event)">
							</md-input-container>

							<div layout="row" layout-align="end">
								<md-button layout-align="right" class="md-primary md-raised" ng-click="search.searchItem(search.searchText)">Wyszukaj</md-button>
							</div>
						</md-content>

						<md-content ng-show="search.isClicked">
							<div layout="row">
								<div class="card md-table separated">
									<table>
										<thead>
											<tr>
												<th></th>
												<th>Nazwa</th>
												<th>Producent</th>
												<th>Kategoria</th>
											</tr>
										</thead>

										<tbody>
											<tr ng-repeat="itemToShow in search.itemsToShow" ui-sref="product({productSlug: itemToShow.slug})">
												<td><img ng-src="{{itemToShow.image}}"></td>
												<td>{{itemToShow.name}}</td>
												<td>{{itemToShow.producer[0].name}}</td>
												<td>?</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</md-content>
					</md-tab>

					<md-tab label="Wyszukaj kategorie">
						<md-content layout-padding>
							<p class="md-headline" layout-padding>Wyszukaj rodzaj kategorii:</p>

							<md-input-container flex>
								<label>Co chcesz zjeść?</label>
								<input ng-model="search.searchText" ng-enter="search.searchItem(search.searchText)" ng-keydown="search.listenForEnter($event)">
							</md-input-container>

							<div layout="row" layout-align="end">
								<md-button layout-align="right" class="md-primary md-raised" ng-click="search.searchItem(search.searchText)">Wyszukaj</md-button>
							</div>
						</md-content>
					</md-tab>
				</md-tabs>
			</div>
		</div>

		<div flex="25" flex-md="10" flex-sm="5"></div>
	</div>
</div>
