<md-subheader class="md-primary">
    <span>Konserwanty</span>
    <md-icon class="chevron" md-svg-src="images/icons/chevron.svg" aria-hidden="true"></md-icon>
    <span>{{preservatives[preservativeID].name}} ({{preservatives[preservativeID].othername}})</span>
</md-subheader>

<div layout="row" layout-sm="column">
    <div flex="33" flex-sm="100" layout-padding>
        <md-whiteframe class="md-whiteframe-1dp" layout="column">
            <div class="card md-table">
                <table>
                    <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>Opis</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="pointer" ng-repeat="item in preservatives" ng-click="functions.preservativeChange(item.slug, $index)" ui-sref="preservatives({preservativeSlug: item.slug, preservativeID: $index})">
                            <td>
                                <p class="md-table-title">{{item.name}}</p>
                                <p class="md-table-subtitle">{{item.othername}}</p>
                            </td>

                            <td>
                                <md-icon class="emoticon emoticon-{{item.level}}" md-svg-icon="/images/icons/emoticon-{{item.level}}.svg"></md-icon>
                                <span class="emoticon-title" ng-if="item.level == 0">Szkodliwe</span>
                                <span class="emoticon-title" ng-if="item.level == 1">Neutralne</span>
                                <span class="emoticon-title" ng-if="item.level == 2">Nieszkodliwe</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </md-whiteframe>
    </div>

    <div flex="67" flex-sm="100" layout-padding>
        <md-whiteframe class="md-whiteframe-1dp" style="min-height: 75vh" layout="column">
            <h5 class="md-header-title">
                <span class="md-header-subtitle">{{preservatives[preservativeID].name}}</span>
                <span class="md-header-info">{{preservatives[preservativeID].othername}}</span>
            </h5>

            <div class="md-header-title">
                <p class="md-header-subtitle">Dopuszczalna dzienna dawka: {{preservatives[preservativeID].dmax}}</p>
            </div>

            <p class="content">
                {{preservatives[preservativeID].description}}
            </p>
        </md-whiteframe>
    </div>
</div>
