<md-subheader class="md-primary">
	<span>Kategorie</span>
    <md-icon class="chevron" md-svg-src="images/icons/chevron.svg" aria-hidden="true"></md-icon>
	<span class="pointer" ui-sref="category({categoryID: product.category[0].id, categoryName: product.category[0].name})">{{product.category[0].name}}</span>
    <md-icon class="chevron" md-svg-src="images/icons/chevron.svg" aria-hidden="true"></md-icon>
	<span>{{product.name}} ({{product.producer.name}})</span>
</md-subheader>

<md-button class="md-fab md-fab-btn" aria-label="Add to cart">
    <md-icon md-svg-src="images/icons/cart.svg"></md-icon>
</md-button>

<div layout="row" layout-wrap>
	<div flex="30" flex-sm="100" flex-md="100" layout="column" layout-md="row">
		<md-card layout="column">
			<h2 class="md-header-title">
                <span class="md-header-subtitle"><span ng-show="product.producer.local_producer" class="flag">🇵🇱</span> {{product.name}}</span>
                <span class="md-header-info">{{product.producer.name}}</span>
            </h2>

			<img
				fallback-src="images/template/default-product.png"
				lazy-img="{{product.image}}"
				class="md-card-image"
			>
		</md-card>

		<md-whiteframe class="md-whiteframe-1dp" layout="column" ng-show="product.shops.length" layout-margin>
			<div layout="row">
				<div class="card md-table md-table-no-hover">
					<table>
						<thead>
							<tr>
								<th>Dostępność</th>
								<th></th>
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="shop in product.shops">
								<td>{{shop.name}}</td>
								<td><img src="{{shop.image}}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</md-whiteframe>
	</div>

	<div flex="35" flex-sm="100" flex-md="50" layout="column">
		<md-whiteframe class="md-whiteframe-1dp" layout="column" layout-margin>
			<h5 class="md-header-title">
                <span class="md-header-subtitle">Wartości odżywcze</span>
                <span class="md-header-info">Kategoria <span class="pointer link" ui-sref="category({categoryID: product.category[0].id, categoryName: product.category[0].name})">{{product.category[0].name}}</span></span>
            </h5>

			<div class="progressbar">
				<p>Białka <span class="progressbar-percentage">{{product.values_calculated.protein}}%</span></p>

				<div layout="row">
					<p class="progressbar-value left" flex="10">{{product.values_category.protein__min}}</p>
					<md-progress-linear class="progressbar-bar" flex="80" md-mode="determinate" value="{{product.values_calculated.protein}}"></md-progress-linear>
					<p class="progressbar-value right" flex="10">{{product.values_category.protein__max}}</p>
				</div>
			</div>

			<div class="progressbar">
				<p>Cukry <span class="progressbar-percentage">{{product.values_calculated.sugar}}%</span></p>

				<div layout="row">
					<p class="progressbar-value left" flex="10">{{product.values_category.sugar__min}}</p>
					<md-progress-linear class="progressbar-bar" flex="80" md-mode="determinate" value="{{product.values_calculated.sugar}}"></md-progress-linear>
					<p class="progressbar-value right" flex="10">{{product.values_category.sugar__max}}</p>
				</div>
			</div>

			<div class="progressbar">
				<p>Tłuszcze <span class="progressbar-percentage">{{product.values_calculated.fats}}%</span></p>

				<div layout="row">
					<p class="progressbar-value left" flex="10">{{product.values_category.fats__min}}</p>
					<md-progress-linear class="progressbar-bar" flex="80" md-mode="determinate" value="{{product.values_calculated.fats}}"></md-progress-linear>
					<p class="progressbar-value right" flex="10">{{product.values_category.fats__max}}</p>
				</div>
			</div>
		</md-whiteframe>

		<md-whiteframe class="md-whiteframe-1dp" layout="column" layout-margin>
			<h5 class="md-header-title green">
                <span class="md-header-subtitle">Witaminy i składniki mineralne</span>
            </h5>

			<div layout="row">
				<div class="card" layout-padding ng-hide="product.vitamins.length">
					Brak witamin dla tego produktu.
				</div>

				<div class="card md-table" ng-show="product.vitamins.length">
					<table>
						<tbody>
							<tr ng-repeat="vitamine in product.vitamins" ui-sref="vitamins({vitaminSlug: vitamine.slug,vitaminID: $index})">
								<td class="pointer">{{vitamine.name}}</td>
							</tr>

							<tr ng-repeat="mineral in product.minerals">
								<td>{{mineral.name}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</md-whiteframe>

		<md-whiteframe class="md-whiteframe-1dp" layout="column" layout-margin>
			<h5 class="md-header-title red">
                <span class="md-header-subtitle">Konserwanty</span>
            </h5>

			<div layout="row">
				<div class="card" layout-padding ng-hide="product.preservatives.length">
					Brak konserwantów dla tego produktu.
				</div>

				<div class="card md-table" ng-show="product.preservatives.length">
					<table>
						<tbody>
							<tr class="pointer" ng-repeat="preservative in product.preservatives" ui-sref="preservatives({preservativeSlug: preservative.slug,preservativeID: $index})">
								<td>{{preservative.name}}</td>
								<td>
									<md-icon class="emoticon emoticon-{{preservative.level}}" md-svg-icon="images/icons/emoticon-{{preservative.level}}.svg"></md-icon>
									<span class="emoticon-title" ng-if="preservative.level == 0">Szkodliwe</span>
	                                <span class="emoticon-title" ng-if="preservative.level == 1">Neutralne</span>
	                                <span class="emoticon-title" ng-if="preservative.level == 2">Nieszkodliwe</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</md-whiteframe>
	</div>

	<div flex="35" flex-sm="100" flex-md="50" layout="column">
		<md-whiteframe class="md-whiteframe-1dp" layout="column" layout-margin>
			<div layout="row">
				<div class="card md-table md-table-no-hover">
					<table>
						<thead>
							<tr>
								<th style="width: 55%">Wartość odżywcza produktu</th>
								<th>w 100g</th>
								<th>Na opakowanie</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>Wartość energetyczna</td>
								<td>{{product.energyValue}}kJ <br> {{(product.energyValue / 4.184) | number : 0 }}kcal</td>
								<td>{{product.energyValue * product.size / 100}}kJ <br> {{(product.energyValue * product.size / 100 / 4.184) | number : 0 }}kcal</td>
							</tr>

							<tr>
								<td>Białko</td>
								<td>{{product.protein}}g</td>
								<td>{{product.protein * product.size / 100}}g</td>
							</tr>

							<tr class="compact">
								<td>Węglowodany</td>
								<td>{{product.carbohydrates}}g</td>
								<td>{{product.carbohydrates * product.size / 100}}g</td>
							</tr>

							<tr class="disabled">
								<td>W tym cukry</td>
								<td>{{product.sugar}}g</td>
								<td>{{product.sugar * product.size / 100}}g</td>
							</tr>

							<tr class="compact">
								<td>Tłuszcze</td>
								<td>{{product.fats}}g</td>
								<td>{{product.fats * product.size / 100}}g</td>
							</tr>

							<tr class="disabled">
								<td>W tym kw. tłuszczowe nasycone</td>
								<td>{{product.fatsSaturated}}g</td>
								<td>{{product.fatsSaturated * product.size / 100}}g</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</md-whiteframe>

		<md-whiteframe class="md-whiteframe-1dp" layout="column" layout-margin>
			<div layout="row">
				<div class="card md-table md-table-no-hover">
					<table>
						<thead>
							<tr>
								<th>Waga/objętość</th>
								<th>Sugerowana dzienna porcja</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>{{product.size}} g/ml</td>
								<td>{{product.portion}} g/ml</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</md-whiteframe>

		<md-whiteframe class="md-whiteframe-1dp" layout="column" layout-margin>
			<div layout="row">
				<div class="card md-table md-table-no-hover">
					<table>
						<thead>
							<tr>
								<th style="width: 60%">Składnik</th>
								<th style="width: 20%">Gluten</th>
								<th style="width: 20%">Alergen</th>
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="item in product.ingredients">
								<td>{{item.name}}</td>
								<td><span ng-show="item.gluten">Tak</span><span ng-hide="item.gluten">Nie</span></td>
								<td><span ng-show="item.allergen">Tak</span><span ng-hide="item.allergen">Nie</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</md-whiteframe>
	</div>
</div>
