.my-tab[aria-selected="true"] md-tab-label{
	color: white;
}


.md-paginator{
	margin: 0 !important;
}

.my-button{
	color: white;
}

.my-progressbars{
	margin-top: 24px;
}

@media (max-width: 600px) {
	
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 600px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 960px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

