<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>Foodie</title>

        <meta charset="utf-8">
        <meta name="description" content="Zadbaj o swoje zdrowie wraz z Foodie. Jesteś tym co jesz!">
        <meta name="keywords" content="Foodie, zdrowie, jedzenie, odżywianie, poprawa, styl życia">
        <meta name="author" content="Michał Rosiak, Łukasz Górniak, Bartosz Łaniewski">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
        <link rel="stylesheet" href="styles/style.css">

        <!-- Mobile web app capable -->
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <!-- Apple specific -->
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <!-- Icons -->
        <link rel="apple-touch-icon" sizes="60x60" href="images/template/favicons/60x60.png">
        <link rel="apple-touch-icon" sizes="100x100" href="images/template/favicons/100x100.png">
        <link rel="apple-touch-icon" sizes="150x150" href="images/template/favicons/150x150.png">
        <link rel="apple-touch-icon" sizes="260x260" href="images/template/favicons/260x260.png">
        <link rel="apple-touch-icon" sizes="350x350" href="images/template/favicons/350x350.png">
        <link rel=icon sizes="60x60" type="image/png" href="images/template/favicons/60x60.png">
        <link rel=icon sizes="100x100" type="image/png" href="images/template/favicons/100x100.png">
    </head>

    <body ng-app="app" ng-controller="mainController" layout="row">
        <div class="loader">
            <div id="loader">
                <div id="top"></div>
                <div id="bottom"></div>
                <div id="line"></div>
            </div>
        </div>

        <div layout="column" layout-fill="layout-fill">
            <md-sidenav class="md-sidenav-left" md-component-id="left">
                <md-toolbar class="md-accent">
                    <div class="md-toolbar-tools">Kategorie</div>
                </md-toolbar>

                <md-menu-content ng-controller="sidenavController">
                    <md-input-container md-no-float class="md-menu-input">
                        <input ng-model="filterText" type="text" placeholder="Filtruj kategorie">
                    </md-input-container>

                    <md-menu-item ng-repeat="category in categories | filter : filterText ">
                        <md-button ng-click="closeSideNav()" ui-sref="category({categoryID: category.id, categoryName: category.name})">
                            {{category.name}}
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-sidenav>

            <md-sidenav class="md-sidenav-right" md-component-id="right">
                <md-toolbar class="md-accent">
                    <div class="md-toolbar-tools">Lista zakupów</div>
                </md-toolbar>

                <md-menu-content ng-controller="shoppingListController">
                    Test
                </md-menu-content>
            </md-sidenav>

            <div id="offline-message" class="md-error" ng-controller="offlineController">
                <p class="md-error-message">Nie jesteś połączony z internetem.</p>

                <md-button class="md-error-close md-icon-button" ng-click="close()">
                    <md-icon md-svg-src="images/icons/close.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>

            <md-toolbar class="md-hue-1 md-tall" ng-controller="navbarController">
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" ng-click="openLeftMenu()">
                        <md-icon md-svg-icon="images/icons/menu.svg"></md-icon>
                    </md-button>

                    <h2 class="pointer" ui-sref="home" href="#/home">
                        <span>Foodie</span>
                    </h2>

                    <span flex></span>

                    <md-button class="md-icon-button" ng-click="showBugDialog($event)">
                        <md-icon md-svg-icon="images/icons/alert.svg"></md-icon>
                    </md-button>

                    <md-button class="md-icon-button" ng-click="showShoppingList($event)">
                        <md-icon md-svg-icon="images/icons/cart.svg"></md-icon>
                    </md-button>
                </div>

                <span flex></span>

                <md-tabs class="md-primary" md-selected="currentTab">
                    <md-tab ui-sref="home">
                        <md-tab-label>Wyszukiwarka</md-tab-label>
                    </md-tab>

                    <md-tab ui-sref="vitamins({vitaminSlug: vitaminSlug, vitaminID: vitaminID})">
                        <md-tab-label>Witaminy</md-tab-label>
                    </md-tab>

                    <md-tab ui-sref="preservatives({preservativeSlug: preservativeSlug, preservativeID: preservativeID})">
                        <md-tab-label>Konserwanty</md-tab-label>
                    </md-tab>
                </md-tabs>
            </md-toolbar>

            <md-content class="wrapper" ng-controller="viewController">
                <div ui-view></div>

                <div class="view-loader" id="view-loader">
                    <md-progress-circular md-mode="indeterminate" md-diameter="100"></md-progress-circular>
                </div>
            </md-content>
        </div>

        <script src="scripts/vendor/jquery/jquery.min.js"></script>
        <script src="scripts/vendor/jquery/easing-plugin.min.js"></script>
        <script src="scripts/vendor/jquery/easing-transform.min.js"></script>
        <script src="scripts/vendor/angular/angular.min.js"></script>
        <script src="scripts/vendor/angular/angular-animate.min.js"></script>
        <script src="scripts/vendor/angular/angular-aria.min.js"></script>
        <script src="scripts/vendor/angular/angular-cookies.min.js"></script>
        <script src="scripts/vendor/angular/angular-dcb-img-fallback.min.js"></script>
        <script src="scripts/vendor/angular/angular-lazy-img.min.js"></script>
        <script src="scripts/vendor/angular/angular-material.min.js"></script>
        <script src="scripts/vendor/angular/angular-messages.min.js"></script>
        <script src="scripts/vendor/angular/angular-ui-router.min.js"></script>
        <script src="scripts/app.js"></script>
    </body>
</html>
