<div layout="row" layout-sm="row" layout-wrap>
	<div flex="50" flex-sm="100" flex-md="100" layout="column" layout-sm="column" style="padding: 8px;">
		<div class="md-whiteframe-z1 my-cardlike-margins">
			<md-content layout-padding>
				<h2>O foodie</h2>
			</md-input-container>
		</div>
	</div>
	<div flex="50" flex-sm="100" flex-md="100" layout="column" layout-sm="column" style="padding: 8px;">
		<div class="md-whiteframe-z1 my-cardlike-margins">
			<md-content layout-padding>
				<h2>Jakieś informacje</h2>
			</md-content>
		</div>
	</div>
</div>
<div layout="row" layout-sm="row" layout-wrap>
	<div flex="50" flex-sm="100" flex-md="100" layout="column" layout-sm="column" style="padding: 8px;">
		<div class="md-whiteframe-z1 my-cardlike-margins">
			<md-content layout-padding>
				<h2>Michał Rosiak</h2>
			</md-input-container>
		</div>
	</div>
	<div flex="50" flex-sm="100" flex-md="100" layout="column" layout-sm="column" style="padding: 8px;">
		<div class="md-whiteframe-z1 my-cardlike-margins">
			<md-content layout-padding>
				<h2>Patryk Pałyska</h2>
			</md-content>
		</div>
	</div>
</div>