<div layout="column">
	<div layout="row" style="margin-top: 24px">
		<div flex="25" flex-sm="5"></div>
		<div flex="50" flex-sm="90">


			
					<div class="md-whiteframe-z1">
						<md-tabs md-dynamic-height md-selected="searchFor">
							<md-tab label="Wyszukaj produkt">
						        <md-content class="md-padding">
								  	
								  	<div class="md-whiteframe-z1" layout-margin layout-padding>
								  		<h2>Wyszukaj rodzaj produktu</h2>
								          <md-input-container flex >
									          <label>Co chcesz zjeść?</label>
									          <input ng-model="searchCtrl.searchText" ng-enter="searchCtrl.searchItem(searchCtrl.searchText)">
									      </md-input-container>
									      <md-button class="md-primary md-raised" ng-click="searchCtrl.searchItem(searchCtrl.searchText)">
												Wyszukaj
											</md-button>
								    </div>
										
									<div class="md-whiteframe-z1" layout-margin>
										<div ng-show="searchCtrl.isClicked" class="data-table-container" >
										    <table class="data-table data-table--has-primary">
										        <thead>
										            <tr>
										                <th></th>
										                <th>Nazwa</th>
										                <th>Producent</th>
										            </tr>
										            <tr>
										                <td colspan="3" class="divider divider--dark"></td>
										            </tr>
										        </thead>
										        <tbody class="my-subfont">
													<tr class="my-font data-table__clickable-row" ng-repeat="itemToShow in searchCtrl.itemsToShow" ui-sref="productDetail({productSlug: itemToShow.slug})">
										              <td>{% verbatim %}
										              	<img ng-src="{{itemToShow.image}}" style="width: 64px; height:auto" class="my-circular md-whiteframe-z1"/>{% endverbatim %}
										              	</td>
										              <td>{% verbatim %}{{itemToShow.name}}{% endverbatim %}</td>
										              <td>{% verbatim %}{{itemToShow.producer}}{% endverbatim %}</td>
										            </tr>
										        </tbody>
										    </table>
										</div>
									</div>
						        </md-content>
						      </md-tab>
						      <md-tab label="Wyszukaj kategorie">
								<md-content class="md-padding">
								  	<h2>Wyszukaj rodzaj kategorii</h2>
								  	<md-input-container flex >
							          <label>Co chcesz zjeść?</label>
							          <input ng-model="searchCtrl.searchText">
							      </md-input-container>
						          <md-button class="md-primary md-raised">Wyszukaj</md-button>
						        </md-content>
						    </md-tab>
					    </md-tabs>
					   </div>
			


		</div>
		
		<div flex="25" flex-sm="5"></div>
	</div>
</div>