<div layout="row" layout-sm="row" layout-wrap>
					<div flex="33" flex-sm="100" flex-md="100" layout="column" layout-sm="column">
						<md-card>
						 	<img ng-src="product.image" class="md-card-image">
						 	<md-card-content>
						 		<div>
							   		<h2 style="display: inline-block" class="my-font">{% verbatim %}{{product.name}}{% endverbatim %}</h2>
							   		<h4 style="display: inline-block" class="my-subfont">Zott</h4>
							   	</div>
								<h3 class="my-subfont">{% verbatim %}{{product.category[0].name}}{% endverbatim %}</h3>
						 	</md-card-content>
						</md-card>
						<md-whiteframe class="md-whiteframe-z1 my-cardlike-margins">
							<div class="data-table-container">
							    <table class="data-table">
							        <thead>
							            <tr>
							                <th>Dostępność</th>
							                <th></th>
							            </tr>
							            <tr>
							                <td colspan="2" class="divider divider--dark"></td>
							            </tr>
							        </thead>

							            <tr ng-repeat="shop in product.shops">
							              <td>{% verbatim %}{{shop.name}}{% endverbatim %}</td>
							              <td>
							              	<img src="shop.image">
							              </td>
							            </tr>
							    </table>
							</div>
						</md-whiteframe>
					</div>
					<div flex="33" flex-sm="100" flex-md="100" layout="column" layout-sm="column" style="padding: 8px;">
						
							
								<md-whiteframe class="md-whiteframe-z1" layout="column" layout-sm="column">
									<h2 class="my-font" style="padding: 16px 0 0 16px;">Wartości odżywcze</h2>
										<div style="padding: 0 40px 40px 40px;">
											<div class="my-progressbars">
												<p class="md-subhead">Białka</p>
												<md-progress-linear md-mode="determinate" ng-value="product.protein"></md-progress-linear>
											</div>
											<div class="my-progressbars">
												<p >Cukry</p>
												<md-progress-linear md-mode="determinate" ng-value="product.sugar"></md-progress-linear>
											</div>
											<div class="my-progressbars">
												<p>Tłuszcze</p>
												<md-progress-linear md-mode="determinate" ng-value="product.fats"></md-progress-linear>
											</div>
										</div>
								</md-whiteframe>
							
							<div style="margin-top: 12px;">
								<md-toolbar class="md-toolbar-tools">Witaminy i minerały</md-toolbar>
								<md-list>
									<md-whiteframe style="padding: 40px;" class="md-whiteframe-z1" layout="column">
										<span ng-repeat="vitamine in product.vitamins">{% verbatim %}{{vitamine.name}}{% endverbatim %}</span>
								  	</md-whiteframe>
								</md-list>
							</div>

							<div style="margin-top: 12px;">
								<md-toolbar class="md-warn md-toolbar-tools" id="Konserwanty">Konserwanty</md-toolbar>
								<md-list>
									<md-whiteframe style="padding: 24px;" class="md-whiteframe-z1" layout="column" layout-sm="column" layout-align="center">
									  	<div class="data-table-container">
										    <table class="data-table data-table--has-secondary">
										        <tr ng-repeat="preservative in product.preservatives">
										            <td>{% verbatim %}{{preservative.name}}{% endverbatim %}</td>
										            <td>
										            	<md-icon style="color: red;" class="my-button" md-svg-icon="/static/icons/emoticon-sad.svg"></md-icon>
										            </td>
										        </tr>
										        </tr>
										    </table>
										</div>
								  	</md-whiteframe>
								</md-list>
							</div>
						
					</div>
					<div flex="33" flex-sm="100" flex-md="100" style="padding: 8px;">
					<md-whiteframe class="md-whiteframe-z1" layout="column" layout-sm="column">
						<div class="data-table-container">
						    <table class="data-table">
						        <thead>
						            <tr>
						                <th><h3 class="my-font">Składniki</h3></th>
						                <th>na 100g</th>
						                <th>na produkt</th>
						            </tr>
						            <tr>
						                <td colspan="3" class="divider divider--dark"></td>
						            </tr>
						        </thead>
						        <tbody class="my-subfont">
									<tr class="my-font">
						              <td>Wartość energetyczna</td>
						              <td>{% verbatim %}{{product.energyValue}}{% endverbatim %}</td>
						              <td>----</td>
						            </tr>
						            <tr class="my-font">
						              <td>Białko</td>
						              <td>{% verbatim %}{{product.protein}}{% endverbatim %}</td>
						              <td>----</td>
						            </tr>
						            <tr class="my-font">
						              <td>Węglowodany</td>
						              <td>{% verbatim %}{{product.carbohydrates}}{% endverbatim %}</td> 
						              <td>----</td>
						            </tr>
						            <tr>
						            	<td>W tym cukry</td>
						            	<td>{% verbatim %}{{product.sugar}}{% endverbatim %}</td>
						            	<td>----</td>
						            </tr>
						            <tr class="my-font">
						              <td>Tłuszcze</td>
						              <td>{% verbatim %}{{product.fats}}{% endverbatim %}</td>
						              <td>----</td>
						            </tr>
						            <tr>
						              <td>W tym kw. tłuszczowe nasycone</td>
						              <td>{% verbatim %}{{product.fatsSaturated}}{% endverbatim %}</td>
						              <td>----</td>
						            </tr>
						        </tbody>
						    </table>
						</div>
						</md-whiteframe>

						<md-whiteframe class="md-whiteframe-z1" layout="column" layout-sm="column" style="margin-top: 12px">
						<div class="data-table-container">
						    <table class="data-table">
						        <thead>
						            <tr>
						                <th>Waga/objętość</th>
						                <th>{% verbatim %}{{product.size}}{% endverbatim %}</th>
						            </tr>
						            <tr>
						                <td colspan="2" class="divider divider--dark"></td>
						            </tr>
						        </thead>
								<tbody>
						            <tr>
						              <td>Sugerowana dzienna porcja</td>
						              <td>----</td>
						            </tr>
						        </tbody>
						    </table>
						</div>
						</md-whiteframe>

					</div>
				</div>