<div layout="row" layout-sm="row" layout-wrap>
					<div flex="33" flex-sm="100" flex-md="100" layout="column" layout-sm="column">
						<md-card>
						 	<img ng-src="{% verbatim %}{{product.image}}{% endverbatim %}" class="md-card-image">
						 	<md-card-content>
						 		<div>
							   		<h2 style="display: inline-block" class="my-font">{% verbatim %}{{product.name}}{% endverbatim %}</h2>
							   		<h4 style="display: inline-block; margin-left:0px; font-size:14px" class="my-subfont">{% verbatim %}{{product.producer.name}}{% endverbatim %}</h4>
							   	</div>
								<h3 ui-sref="productsList({categoryID: product.category[0].id, categoryName: product.category[0].name})" class="my-subfont" style="cursor:pointer; margin-top:0px; margin-left:0px; font-size:16px">{% verbatim %}{{product.category[0].name}}{% endverbatim %}</h3>
						 	</md-card-content>
						</md-card>
						<md-whiteframe class="md-whiteframe-z1 my-cardlike-margins">
							<div class="data-table-container">
							    <table class="data-table">
							        <thead>
							            <tr>
							                <th>Dostępność</th>
							                <th></th>
							                <th>Cena</th>
							            </tr>
							            <tr>
							                <td colspan="3" class="divider divider--dark"></td>
							            </tr>
							        </thead>

							            <tr ng-repeat="shop in product.shops">
							              <td>{% verbatim %}{{shop.name}}{% endverbatim %}</td>
							              <td>
							              	<img src="{% verbatim %}{{shop.image}}{% endverbatim %}">
							              </td>
							              <td>{% verbatim %}{{shop.price}}{% endverbatim %} zł</td>
							            </tr>
							    </table>
							</div>
						</md-whiteframe>
					</div>
					<div flex="33" flex-sm="100" flex-md="100" layout="column" layout-sm="column" style="padding: 8px;">
						
							
								<md-whiteframe class="md-whiteframe-z1" layout="column" layout-sm="column">
									<h2 class="my-font" style="padding: 16px 0 0 16px;">Wartości odżywcze</h2>
									<h5 class="my-subfont" margin-top:>
									{% verbatim %}
									Uwzględniające kategorie <span style="cursor:pointer;" ui-sref="productsList({categoryID: product.category[0].id, categoryName: product.category[0].name})">{{product.category[0].name}}</span>
									{% endverbatim %}
									</h5>
										<div style="padding: 0 40px 40px 40px;">
											<div class="my-progressbars">
												<p class="md-subhead">Białka</p>
												<div layout="row">
													<p class="my-subfont" style="margin: 0; padding: 0" flex="5">{% verbatim %} {{product.values_category.protein__min}} {% endverbatim %}</p>
													<md-progress-linear flex="80" md-mode="determinate" ng-value="product.protein"></md-progress-linear><p class="my-subfont" style="margin: 0 0 0 6px; padding: 0" flex="5">{% verbatim %} {{product.values_category.protein__max}} {% endverbatim %}</p>
												</div>
												
											</div>
											<div class="my-progressbars">
												<p >Cukry</p>
												<div layout="row">
													<p class="my-subfont" style="margin: 0; padding: 0" flex="5">{% verbatim %} {{product.values_category.sugar__min}} {% endverbatim %}</p>
													<md-progress-linear flex="80" md-mode="determinate" ng-value="product.sugar"></md-progress-linear><p class="my-subfont" style="margin: 0 0 0 6px; padding: 0" flex="5">{% verbatim %} {{product.values_category.sugar__max}} {% endverbatim %}</p>
												</div>
												
											</div>
											<div class="my-progressbars">
												<p>Tłuszcze</p>
												<div layout="row">
													<p class="my-subfont" style="margin: 0; padding: 0" flex="5">{% verbatim %} {{product.values_category.fats__min}} {% endverbatim %}</p>
													<md-progress-linear flex="80" md-mode="determinate" ng-value="product.fats"></md-progress-linear><p class="my-subfont" style="margin: 0 0 0 6px; padding: 0" flex="5">{% verbatim %} {{product.values_category.fats__max}} {% endverbatim %}</p>
												</div>
												
											</div>
										</div>
								</md-whiteframe>
							
							<div style="margin-top: 12px;">
								<md-toolbar class="md-toolbar-tools">Witaminy i składniki mineralne</md-toolbar>
								
									<md-whiteframe style="padding: 40px;" class="md-whiteframe-z1" layout="column">
										<span class="my-pointer" ng-repeat="vitamine in product.vitamins" ui-sref="vitamins({vitaminSlug: vitamine.slug,vitaminID: $index})">{% verbatim %}{{vitamine.name}}{% endverbatim %}</span>
										<span ng-repeat="mineral in product.minerals">{% verbatim %}{{mineral.name}}{% endverbatim %}</span>
								  	</md-whiteframe>
								
							</div>

							<div style="margin-top: 12px;">
								<md-toolbar class="md-warn md-toolbar-tools" id="Konserwanty">Konserwanty</md-toolbar>
								<md-list>
									<md-whiteframe style="padding: 24px;" class="md-whiteframe-z1" layout="column" layout-sm="column" layout-align="center">
									  	<div class="data-table-container">
										    <table class="data-table data-table--has-secondary">
										        <tr class="my-pointer" ng-repeat="preservative in product.preservatives" ui-sref="preservatives({preservativeSlug: preservative.slug,preservativeID: $index})">
										            <td>{% verbatim %}{{preservative.name}}{% endverbatim %}</td>
										            <td>
										            	<md-icon class="my-button my-preseicon-{% verbatim %}{{preservative.level}}{% endverbatim %}" md-svg-icon="/static/icons/emoticon-{% verbatim %}{{preservative.level}}{% endverbatim %}.svg"></md-icon>
										            </td>
										        </tr>
										        </tr>
										    </table>
										</div>
								  	</md-whiteframe>
								</md-list>
							</div>
						
					</div>
					<div flex="33" flex-sm="100" flex-md="100" style="padding: 8px;">
					<md-whiteframe class="md-whiteframe-z1" layout="column" layout-sm="column">
						<div class="data-table-container">
						    <table class="data-table">
						        <thead>
						            <tr>
						                <th><h3 class="my-font">Składniki</h3></th>
						                <th>na 100g/ml</th>
						                <th>na produkt</th>
						            </tr>
						            <tr>
						                <td colspan="3" class="divider divider--dark"></td>
						            </tr>
						        </thead>
						        <tbody style="color: #808080">
									<tr class="my-font">
						              <td>Wartość energetyczna</td>
						              <td>{% verbatim %}{{product.energyValue}}{% endverbatim %}</td>
						              <td>{% verbatim %}{{product.energyValue*product.size/100}}{% endverbatim %}</td>
						            </tr>
						            <tr class="my-font">
						              <td>Białko</td>
						              <td>{% verbatim %}{{product.protein}}{% endverbatim %}</td>
						              <td>{% verbatim %}{{product.protein*product.size/100}}{% endverbatim %}</td>
						            </tr>
						            <tr class="my-font">
						              <td>Węglowodany</td>
						              <td>{% verbatim %}{{product.carbohydrates}}{% endverbatim %}</td> 
						              <td>{% verbatim %}{{product.carbohydrates*product.size/100}}{% endverbatim %}</td>
						            </tr>
						            <tr>
						            	<td>W tym cukry</td>
						            	<td>{% verbatim %}{{product.sugar}}{% endverbatim %}</td>
						            	<td>{% verbatim %}{{product.sugar*product.size/100}}{% endverbatim %}</td>
						            </tr>
						            <tr class="my-font">
						              <td>Tłuszcze</td>
						              <td>{% verbatim %}{{product.fats}}{% endverbatim %}</td>
						              <td>{% verbatim %}{{product.fats*product.size/100}}{% endverbatim %}</td>
						            </tr>
						            <tr>
						              <td>W tym kw. tłuszczowe nasycone</td>
						              <td>{% verbatim %}{{product.fatsSaturated}}{% endverbatim %}</td>
						              <td>{% verbatim %}{{product.fatsSaturated*product.size/100}}{% endverbatim %}</td>
						            </tr>
						        </tbody>
						    </table>
						</div>
						</md-whiteframe>

						<md-whiteframe class="md-whiteframe-z1" layout="column" layout-sm="column" style="margin-top: 12px">
						<div class="data-table-container">
						    <table class="data-table">
						        <thead>
						            <tr>
						                <th>Waga/objętość</th>
						                <th>{% verbatim %}{{product.size}}{% endverbatim %} g/ml</th>
						            </tr>
						            <tr>
						                <td colspan="2" class="divider divider--dark"></td>
						            </tr>
						        </thead>
								<tbody>
						            <tr>
						              <td>Sugerowana dzienna porcja</td>
						              <td>{% verbatim %}{{product.portion}}{% endverbatim %} g/ml</td>
						            </tr>
						        </tbody>
						    </table>
						</div>
						</md-whiteframe>
						<md-whiteframe class="md-whiteframe-z1" layout="column" layout-sm="column" style="margin-top: 12px">
						<div class="data-table-container">
						    <table class="data-table">
						        <thead>
						            <tr>
						                <th>Składnik</th>
						                <th>Gluten</th>
						                <th>Alergen</th>
						            </tr>
						            <tr>
						                <td colspan="3" class="divider divider--dark"></td>
						            </tr>
						        </thead>
								<tbody>
						            <tr ng-repeat="item in product.ingredients">
						              <td>{% verbatim %}{{item.name}}{% endverbatim %}</td>
						              <td><span ng-show="item.gluten">Tak</span><span ng-hide="item.gluten">Nie</span></td>
						              <td><span ng-show="item.allergen">Tak</span><span ng-hide="item.allergen">Nie</span></td>
						            </tr>
						        </tbody>
						    </table>
						</div>
						</md-whiteframe>

					</div>
</div>