<h1 style="text-align: center; margin-top: 24px;"> Witaminy </h1>

<div layout="row" layout-sm="column">
    <div flex="33" flex-sm="100" style="padding:8px">
        <md-whiteframe  class="md-whiteframe-z1" layout="column">
            <div class="data-table-container">
                <table class="data-table data-table--has-primary data-table--has-secondary my-white-font">
                    <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>Opis</th>

                        </tr>
                        <tr>
                            <td colspan="2" class="divider divider--dark"></td>
                        </tr>
                    </thead>

                    <tbody class="my-table-body">
                        {% verbatim %}
                        <tr class="my-tr my-pointer data-table__clickable-row" ng-repeat="item in vitamins" ng-click="functions.vitamineChange(item.slug, $index)" ui-sref="vitamins({vitaminSlug: item.slug, vitaminID: $index})">
                        {% endverbatim %}
                            <td>
                                {% verbatim %}
                                    
                                    <p>{{item.name}}</p>
                                    <p style="font-size:12px; color:grey">{{item.othername}}</p>
                                {% endverbatim %}
                            </td>
                            <td>
                                {% verbatim %}
                                    {{item.description}}
                                {% endverbatim %}
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </md-whiteframe>
        
    </div>
    <div flex="66" flex-sm="100" style="padding:8px">
        <md-whiteframe class="md-whiteframe-z1" style="min-height:60vh" layout="column">
            <md-subheader>
                {% verbatim %}
                    <span>{{vitamins[vitaminID].name}}</span> <span style="font-size:11px; color:#A6A6A6">{{vitamins[vitaminID].othername}}</span>
                {% endverbatim %}
            </md-subheader>
            <p style="padding:16px;">
                {% verbatim %}
                    {{vitamins[vitaminID].description}}
                {% endverbatim %}
            </p>
        <md-whiteframe class="md-whiteframe-z1" layout="column">
    </div>
</div>