<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"> 

		<link rel="stylesheet" href="/static/css/angular-material.css">
		
		<link rel="stylesheet" href="/static/css/MaterialDesign-Webfont-master/css/materialdesignicons.min.css"  media="all" />
		<link rel="stylesheet" href="/static/css/style.css">
		
		<!--
		{% verbatim %}
			{{test}}
		{% endverbatim %}
		-->
	</head>
	<body ng-app="myApp" ng-controller="mainCtrl">
		<md-toolbar layout="column">
			<div layout="row">
				<span flex="5"><a href="" ng-click="openLeftMenu()"><i class="mdi mdi-menu"></i></a></span>
				<h3 flex="10" class="md-title">Foodie</h3>
				<span flex="70"></span>
				<div flex="5" class="my-dropdown-icon-holder">
					<i class="mdi mdi-settings my-dropdown-icon"></i>
					<md-select placeholder="asd" ng-model="someVal1" class="my-dropdown-select">
						
					    <md-option value="1">One</md-option>
					    <md-option value="2">Two</md-option>
					</md-select>
				</div>
				<div flex="5" class="my-dropdown-icon-holder">

					<i class="mdi mdi-account my-dropdown-icon"></i>
					<md-select placeholder="asd" ng-model="someVal1" class="my-dropdown-select">
						
					    <md-option value="1">One</md-option>
					    <md-option value="2">Two</md-option>
					</md-select>
				</div>

				<span flex="5"></span>
			</div>
			<md-tabs md-selected="data.selectedIndex">
		      <md-tab class="my-tabs">
		        <md-tab-label>Asystent Żywienia</md-tab-label>

		      </md-tab>
		      <md-tab class="my-tabs">
		        <md-tab-label>

					<md-select placeholder="Baza Produktów" ng-model="someVal" class="my-tab-select">
					    <md-option value="1">Test</md-option>
					    <md-option value="2">Test2</md-option>
					</md-select>
		        </md-tab-label>
		      </md-tab>

		</md-toolbar>

		<md-sidenav md-component-id="left" class="md-sidenav-left">
			<md-toolbar class="md-accent"></md-toolbar>
		</md-sidenav>

		<md-content>
		</md-content>
		<script type="text/javascript" src="/static/frameworks/angular.js"></script>
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	    <script type="text/javascript" src="/static/frameworks/angular-animate.js"></script>
	    <script type="text/javascript" src="/static/frameworks/angular-aria.js"></script>
	    <script type="text/javascript" src="/static/frameworks/angular-material.js"></script>
	    <script type="text/javascript" src="/static/frameworks/angular-ui-route.js"></script>
	    <script type="text/javascript" src="/static/js/myApp.js"></script>
	</body>
</html>